@import url(https://fonts.googleapis.com/css?family=Raleway:300,600,900);
body{
  margin: 0;
  padding: 0;
}
.gallery{
  display: flex;
  -webkit-display: flex;
  height: 88vh;
  margin: auto;
  padding: 0;
  width: 100%;
}
a{
  color: #90caf9;
}
#img1{
  background-image: url('https://github.com/gregfrasco/gregfrasco.github.io/raw/master/files/2015/1.png');
}
#img2{
  background-image: url("https://github.com/gregfrasco/gregfrasco.github.io/raw/master/files/2015/2.png");
}
#img3{
  background-image: url("https://github.com/gregfrasco/gregfrasco.github.io/raw/master/files/2015/3.png");
}
#img4{
  background-image: url("https://github.com/gregfrasco/gregfrasco.github.io/raw/master/files/2015/4.png");
}
#img5{
  background-image: url('https://github.com/gregfrasco/gregfrasco.github.io/raw/master/files/2015/5.png');
}
#img6{
  background-image: url("https://github.com/gregfrasco/gregfrasco.github.io/raw/master/files/2015/6.png");
}
#img7{
  background-image: url("https://github.com/gregfrasco/gregfrasco.github.io/raw/master/files/2015/7.png");
}
#img8{
  background-image: url("https://github.com/gregfrasco/gregfrasco.github.io/raw/master/files/2015/8.png");
}
#img9{
  background-image: url("https://github.com/gregfrasco/gregfrasco.github.io/raw/master/files/2015/9.png");
}
#img10{
  background-image: url('https://github.com/gregfrasco/gregfrasco.github.io/raw/master/files/2015/10.png');
}
#img11{
  background-image: url("https://github.com/gregfrasco/gregfrasco.github.io/raw/master/files/2015/11.png");
}
#img12{
  background-image: url("https://github.com/gregfrasco/gregfrasco.github.io/raw/master/files/2015/12.png");
}
#img13{
  background-image: url("https://github.com/gregfrasco/gregfrasco.github.io/raw/master/files/2015/13.png");
}
#img14{
  background-image: url('https://github.com/gregfrasco/gregfrasco.github.io/raw/master/files/2015/14.png');
}
#img15{
  background-image: url("https://github.com/gregfrasco/gregfrasco.github.io/raw/master/files/2015/15.png");
}
#img16{
  background-image: url("https://github.com/gregfrasco/gregfrasco.github.io/raw/master/files/2015/16.png");
}
#img17{
  background-image: url("https://github.com/gregfrasco/gregfrasco.github.io/raw/master/files/2015/17.png");
}
#img18{
  background-image: url('https://github.com/gregfrasco/gregfrasco.github.io/raw/master/files/2015/18.png');
}
#img19{
  background-image: url("https://github.com/gregfrasco/gregfrasco.github.io/raw/master/files/2015/19.png");
}
#img20{
  background-image: url("https://github.com/gregfrasco/gregfrasco.github.io/raw/master/files/2015/20.png");
}
.img{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 #232323;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  height: 100%;
  filter: saturate(10%) brightness(30%);
  -webkit-filter: saturate(10%) brightness(30%);
  margin: 0;
  position: relative;
  transition: all 750ms ease-in-out;
  -webkit-transition: all 750ms ease-in-out;
}
.img:after{
  align-items: center;
  -webkit-align-items: center;
  content: "Click Me!";
  color: #fff;
  display: flex;
  -webkit-display: flex;
  font-family: Raleway, sans-serif;
  font-size: 2em;
  font-weight: 900;
  height: 100%;
  justify-content: center;
  -webkit-justify-content: center;
  opacity: 0;
  transition: all 650ms ease-in-out;
  width: 100%;
}
.img:hover{
  cursor: pointer;
}
.img:not(.focus):hover:after{
  opacity: 1;
}
.img:not(.focus):hover{
  filter: saturate(30%) brightness(60%);
  -webkit-filter: saturate(30%) brightness(60%);
}
.focus{
  box-shadow: inset 0 0 45px 5px #000;
  filter: saturate(100%) brightness(100%);
  -webkit-filter: saturate(100%) brightness(100%);
  flex-grow: 10;
  -webkit-flex-grow: 10;
  height: 100%;
}
.focus:after{
  opacity: 0;
}
