body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.padding {
    padding: 10%;
}

.avatar {
    border-radius: 50%;
}

.avatarHeader {
    padding: 15% 15% 5% 15%;
}

.card-icon {
    width: 100%;
}

.mainFont {
    font-family: 'Roboto', sans-serif;
}

.secFont {
    font-family: 'Raleway', sans-serif;
}