.likes {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

.likes > p {
  text-align: center;
  margin-top: 40%;
  font-size: larger;
}
a:hover .likes {
  visibility: visible;
  opacity:1;
}

#instagram {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  -ms-flex-pack:justify;
  justify-content:space-between;
  -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  margin-top:-.5vw;
  margin-left:-.5vw;
  margin-right:-.5vw
}

@media screen and (max-width:600px){
  .message{
    font-size:1.1em;
    margin-bottom:6vw
  }
  #instagram{
    margin-top:-6px;
    margin-left:-5.5vw;
    margin-right:-5.5vw}
  }

  #instagram a {
    -webkit-box-flex:1;
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1;
    -webkit-flex-basis:calc(100%/3);
    -ms-flex-preferred-size:calc(100%/3);
    flex-basis:calc(100%/3);line-height:0;
    -webkit-transition:opacity .2s ease-in-out;
    transition:opacity .2s ease-in-out;
    display:inline-block;
    border-radius: 4px;
    position:relative;
  }

  @media screen and (min-width:1450px){
    #instagram a{
      -webkit-flex-basis:calc(100%/4);
      -ms-flex-preferred-size:calc(100%/4);
      flex-basis:calc(100%/4)
    }
  }
  @media screen and (max-width:1050px){
    #instagram a {
      -webkit-flex-basis:calc(100%/2);
      -ms-flex-preferred-size:calc(100%/2);
      flex-basis:calc(100%/2)
    }
  }
  @media screen and (max-width:900px) {
    #instagram a {
      -webkit-flex-basis:calc(100%/4);
      -ms-flex-preferred-size:calc(100%/4);
      flex-basis:calc(100%/4)
    }
  }
  @media screen and (max-width:750px) {
    #instagram a {
      -webkit-flex-basis:calc(100%/3);
      -ms-flex-preferred-size:calc(100%/3);
      flex-basis:calc(100%/3)
    }
  }

  #instagram img{
    width:100%
  }

  .past {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    margin-top:-.5vw;
    margin-left:-.5vw;
    margin-right:-.5vw
  }

  @media screen and (max-width:600px){
    .message{
      font-size:1.1em;
      margin-bottom:6vw
    }
    .past{
      margin-top:-6px;
      margin-left:-5.5vw;
      margin-right:-5.5vw}
    }

    .past a {
      -webkit-box-flex:1;
      -webkit-flex-grow:1;
      -ms-flex-positive:1;
      flex-grow:1;
      -webkit-flex-basis:calc(100%/3);
      -ms-flex-preferred-size:calc(100%/3);
      flex-basis:calc(100%/3);line-height:0;
      -webkit-transition:opacity .2s ease-in-out;
      transition:opacity .2s ease-in-out;
      display:inline-block;
      border-radius: 4px;
      position:relative;
    }

    @media screen and (min-width:1450px){
      .past a{
        -webkit-flex-basis:calc(100%/4);
        -ms-flex-preferred-size:calc(100%/4);
        flex-basis:calc(100%/4)
      }
    }
    @media screen and (max-width:1050px){
      .past a {
        -webkit-flex-basis:calc(100%/2);
        -ms-flex-preferred-size:calc(100%/2);
        flex-basis:calc(100%/2)
      }
    }
    @media screen and (max-width:900px) {
      .past a {
        -webkit-flex-basis:calc(100%/4);
        -ms-flex-preferred-size:calc(100%/4);
        flex-basis:calc(100%/4)
      }
    }
    @media screen and (max-width:750px) {
      .past a {
        -webkit-flex-basis:calc(100%/3);
        -ms-flex-preferred-size:calc(100%/3);
        flex-basis:calc(100%/3)
      }
    }

    .past img{
      width:100%
    }
