.project{
  height: 100%;
  width: 100%;
}
.col-md-4{
  padding: 0;
}

.project1{
  background-image: url('images/project1.jpg');
  background-position: top;
  background-repeat:no-repeat;
  background-size: cover;
}

.project2{
  background-image: url('images/project2.jpg');
  background-position: top;
  background-repeat:no-repeat;
  background-size: cover;
}

.project3{
  background-image: url('images/project3.jpg');
  background-position: top;
  background-repeat:no-repeat;
  background-size: cover;
}

.project-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  visibility:hidden;
  opacity:0;
  text-align: center;
  font-size: larger;
}

div:hover .project-text {
  visibility: visible;
  opacity:1;
}
