/*.project{
  height: 100%;
  width: 100%;
}
.col-md-4{
  padding: 0;
}
*/
.img-wrapper{
	width: 100%;
	padding-bottom: 100%; /* your aspect ratio here! */
	position: relative;
}

.img-wrapper img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 100%;
  max-width: 100%;
} /* optional: if you want the smallest images to fill the .thumbnail */

.likes {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

.likes > p {
  text-align: center;
  font-size: larger;
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  margin-top: -9px;
}

.likes > h2 {
  text-align: center;
  font-size: 250%;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin-top: -9px;
}

a:hover .likes {
  visibility: visible;
  opacity:1;
}

.projectTitle{
	color: white;
	text-shadow: black 0.1em 0.1em 0.3em;
	font-size: larger;
  position: absolute;
  bottom: 0;
  left: 25px;
}
