/*.project{
  height: 100%;
  width: 100%;
}
.col-md-4{
  padding: 0;
}
*/
.project-image{
  background-position: top;
  background-repeat:no-repeat;
  background-size: cover;
  
}

.likes {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

.likes > p {
  text-align: center;
  margin-top: 40%;
  font-size: larger;
}
a:hover .likes {
  visibility: visible;
  opacity:1;
}
